apiVersion: v2
name: mo-ob-opensource
description: mo-ob-opensource's Helm chart for Kubernetes
type: application
version: 1.0.3-alpha
appVersion: 0.9.0
dependencies:
- condition: kube-prometheus-stack.enabled
  name: kube-prometheus-stack
  repository: https://prometheus-community.github.io/helm-charts
  version: 45.9.1
- condition: loki.enabled
  name: loki
  repository: https://grafana.github.io/helm-charts
  version: 6.4.1
- condition: promtail.enabled
  name: promtail
  repository: https://grafana.github.io/helm-charts
  version: 6.15.1
