apiVersion: v2
name: mo-ruler-stack
description: mo-ruler's Helm chart for Kubernetes
type: application
version: 1.0.1
appVersion: 0.9.0
dependencies:
- condition: alertmanager.enabled
  name: alertmanager
  repository: https://prometheus-community.github.io/helm-charts
  version: 1.2.0
- condition: grafana.enabled
  name: grafana
  repository: https://grafana.github.io/helm-charts
  version: 6.60.4

