{{- if .Values.defaultDatasource.loki }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mo-loki-datasource
  labels:
    app: loki
    app.kubernetes.io/instance: loki
    app.kubernetes.io/part-of: grafana
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: MO-Loki
      type: loki
      # default loki datasource
      uid: loki
      url: http://loki-gateway
      access: proxy
      jsonData:
        maxLines: 1000
        timeout: 300
{{- end }}